[Unit]
Description=Eaton Intelligent Power Protector NUT proxy

[Service]
Type=simple
ExecStart=/var/packages/eaton-ipp/target/ipp_nut_proxy
Restart=on-failure
